<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.forumReport.dao.IForumReportDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.forumReport.pojo.ForumReport"> 
		<id property="frId" column="fr_id" javaType="java.lang.Integer"></id> 
		<result property="userId" column="user_id" javaType="java.lang.Integer"></result> 
		<result property="forId" column="for_id" javaType="java.lang.Integer"></result> 
		<result property="reportType" column="report_type" javaType="java.lang.Integer"></result> 
		<result property="exaState" column="exa_state" javaType="java.lang.Integer"></result> 
	</resultMap> 

	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		fr_id,user_id,for_id,report_type,exa_state 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from forum_report 
		where fr_id = #{frId} 
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from forum_report 
		where fr_id = #{frId} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.forumReport.pojo.ForumReport" > 
		insert into forum_report(user_id,for_id,report_type,exa_state) 
		values (#{userId},#{forId},#{reportType},#{exaState}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.forumReport.pojo.ForumReport" > 
		update forum_report 
		<set > 
			<if test="userId != null and userId!='' " > 
				user_id = #{userId}, 
			</if> 
			<if test="forId != null and forId!='' " > 
				for_id = #{forId}, 
			</if> 
			<if test="reportType != null and reportType!='' " > 
				report_type = #{reportType}, 
			</if> 
			<if test="exaState != null and exaState!='' " > 
				exa_state = #{exaState}, 
			</if> 
		</set> 
		where fr_id = #{frId} 
	</update> 
	<update id="update" parameterType="com.qhit.forumReport.pojo.ForumReport" > 
		update forum_report 
		set  user_id = #{userId}, for_id = #{forId}, report_type = #{reportType}, exa_state = #{exaState} 
		where fr_id = #{frId} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		select 
		<include refid="Base_Column_List" /> 
		from forum_report 
	</select> 
	<select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from forum_report 
		where user_id = #{userId} 
	</select> 
	<select id="findByForId" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from forum_report 
		where for_id = #{forId} 
	</select> 
	<select id="findByReportType" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from forum_report 
		where report_type = #{reportType} 
	</select> 
	<select id="findByExaState" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from forum_report 
		where exa_state = #{exaState} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from forum_report where fr_id in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.forumReport.pojo.ForumReport" resultMap="BaseResultMap"> 
		select * from  forum_report 
		<where > 
			<if test="userId != null and userId!='' " > 
				 and user_id = #{userId} 
			</if> 
			<if test="forId != null and forId!='' " > 
				 and for_id = #{forId} 
			</if> 
			<if test="reportType != null and reportType!='' " > 
				 and report_type = #{reportType} 
			</if> 
			<if test="exaState != null and exaState!='' " > 
				 and exa_state = #{exaState} 
			</if> 
		</where> 
	</select> 
</mapper> 
